.tgdb-log span {
    font-weight: 700;
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

.tgdb-error {
    color: darkred;
}

.tgdb-notice {
    color: darkorange;
}

.tgdb-success {
    color: darkgreen;
}
